<div class="page-header">
  <h1>Recurring payment <small><%= show_payment_method(@payment.payment_method) %></small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render "form", form_path: recurrent_payment_path(@original_payment.id) %>
  </div>
</div>
